body{
    margin:0px;
    padding-top:800px;
    text-align: center;
}
.profile{
    border-radius: 50%;
}
#welcome{
    position:absolute;
    bottom:0px;
    background:linear-gradient(#60ebeb 0%,#27ae60 100%);
    width:100%; 
    display: table;
    height: 100%;
}
h1{
    font-size:40px;
    font-family: sans-serif;
    font-weight: 300;
}
#name{
    font-size: 50px;
    font-family: cursive;
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}
.line{
    height: 6px;
    background-color:black;
    width:70px;
    margin:8px auto;
}
#bio{
    font-family: 'Lexend', sans-serif;
    padding:50px;
}
.parallax-inner{
    display: table-cell;
    vertical-align: middle;
}
.menu{
    position:fixed;
    top:0px;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
    cursor:pointer;
    background:white;
    width:100%;
    margin-top:0px;
}
.list{
    padding-top: 5px;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 18px;
    display:inline;
}
#writings a{
    text-decoration: underline important;
    color:green;
}
#contacts{
    background-color: orange;
}
.list:hover{
    font-size: 25px;
    text-decoration:underline;
}